:root {
  --orange: rgb(241, 129, 35);
  --blue: rgb(0, 70, 120);
  --hoverBtn: #b8d0e9;
  --badge: #284664;
  --white: rgb(255, 255, 255);
  --primary: var(--blue);
  --danger: tomato;
  --warning: orange;
  --success: limegreen;
}
