@import './Colors.pcss';

.Footer {
  color: var(--white);
  padding: 20px;
  background-color: color(var(--blue) a(80%));
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & .hideFooter {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateY(-15px) translateX(-50%);
    width: 40px;
    height: 15px;
    background-color: color(var(--blue) a(80%));
    border-radius: 5px 5px 0 0;
  }
}
