@import './Colors.pcss';

.PagedCollection {
  max-width: 80%;
  margin: 0 auto;

  @media (max-width: 576px) {
    max-width: 100%;
  }

  & h1 {
    color: color(var(--blue) l(15%));
  }

  & a:hover {
    transition: all 0.3s;
    color: var(--orange);
  }
}
